[submodule "bookerapi"]
	path = bookerapi
	url = https://github.com/BognarDavidMark/bookerapi.git
[submodule "bookermobil"]
	path = bookermobil
	url = https://github.com/BognarDavidMark/bookermobil.git
